.container{
    width: 52%;
    margin: 0 auto;
}
.content-block{
    background-color: #d3d3d3;
    padding: 30px 0px 30px 20px;
}
.content-block-items{
    width: 95%;
}
p{
    font-size: 20px;
}
button{
    background-color: #808080;
    color: #d3d3d3;
    width: 160px;
    height: 80px;
    border: none;
    text-align: center;
    font-size: 17px;
}