$navColor:#EAFBD0;
$i: 1;

.nav{
   height: 30%;
}
.nav-wrap{
    @include fullSize;
    background-color: $navColor;
    @include shadow;
    display: flex;
    .nav-p{
        @include blockNames(left);
        padding-top: 10px; 
    }
    .nav-links{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        .nav-link{
            display: block;
           
        
        }
        @each $color in red, green, blue{
            .nav-link-#{$i}{
                 color: $color;
                 text-decoration:underline;
             }
             $i: $i+1;
            
         }
    }

}