:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  height: 131px;
}

.header .header-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: lightblue;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.header .header-wrap .header-p {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: bold;
  text-align: left;
  padding-top: 20px;
  padding-left: 10px;
}

.header .header-wrap {
  background-color: blue;
}

.nav {
  height: 30%;
}

.nav-wrap {
  width: 100%;
  height: 100%;
  background-color: #EAFBD0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: flex;
}

.nav-wrap .nav-p {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: bold;
  text-align: left;
  padding-top: 20px;
  padding-left: 10px;
  padding-top: 10px;
}

.nav-wrap .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.nav-wrap .nav-links .nav-link {
  display: block;
}

.nav-wrap .nav-links .nav-link-1 {
  color: red;
  text-decoration: underline;
}

.nav-wrap .nav-links .nav-link-2 {
  color: green;
  text-decoration: underline;
}

.nav-wrap .nav-links .nav-link-3 {
  color: blue;
  text-decoration: underline;
}

.footer {
  height: 10%;
}

.footer .footer-wrap {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: lightblue;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.footer .footer-wrap .footer-text {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: bold;
  text-align: left;
  padding-top: 20px;
  padding-left: 10px;
}

.footer .footer-wrap .footer-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}

.i1 {
  border: 1px solid red;
}

.i2 {
  border: 1px solid yellow;
}

.i3 {
  border: 1px solid green;
}

.article {
  flex-basis: 80%;
}

.article .article-wrap {
  width: 100%;
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #B3D6FE;
}

.article .article-wrap .article-text {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-left: 10px;
}

.aside {
  flex-basis: 20%;
}

.aside .aside-wrap {
  width: 100%;
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #604d7a;
}

.aside .aside-wrap .aside-text {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-left: 10px;
}

.page-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  padding: 5px;
}

.main {
  flex: 1 1 auto;
}

.main-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}