.block{
    padding-bottom: 20px;
}
p{
    font-size: 24px;
    text-transform: uppercase;
}
.progress{
    font-size: 20px;
}
.html-block-progress{
    background-color: #008100;
}
.css-block-progress{
    background-color: #04fcff;
}
.js-block-progress{
    background-color: #fed700;
}
span{
    color: red;
}