.container-flex{
    background-color: #cccccc;
    margin: 0 auto;
    display: flex;
    padding: 40px 50px;
    justify-content: space-between;
}
p{
    font-size: 40px;
    flex-basis: 50%;
}
h1{
    font-size: 90px;
}