header{
    height: 150px;
}
.header-wrap{
    display: flex;
    background-color: cadetblue;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.page-wrap{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
footer{
    height: 70px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    
    
}
main{
    flex: 1 1 auto;
    position: relative;
    display: flex;
    
}
/* aside{
    padding: 20px;
    height: auto;
    width: 10%;
    border: 1px solid red;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


section{
    height: 890px;
    width: 80%;
    
}
.section-wrap{
    height: 100%;
    /* border: 1px solid violet; 
}
.container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid red;
} */

aside{
    flex: 0 0 auto;
    padding: 20px;
    height: auto;
    width: 10%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

aside a{
    text-decoration: underline;
    font-size: 20px;
}
.aside-link{
    display: block;
}
section{
    margin-top: 50px;
    flex: 1 1 auto;
    
}
.container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid red;
} 
.section-wrap{
    height: 100%;
    border: 1px solid violet; 
}
.section-wrap .container{
    display: flex;
    justify-content: space-around;
}
.section-card{
    flex-basis: 300px;
}
.card-photo img{
    width: 100%;
    height: 300px;
}
.card-title{
    padding: 20px 0px;
    font-size: 30px;
}
.card-info{
    font-size: 16px;
    
}
.section-map{
    margin-top: 20px;
    width: 100px;
    height: 50px;
    border: 1px solid black;
    font-size: 14px;
}
iframe{
    height: 300px;
    width: 300px;
    visibility: hidden;
}