.article{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    font-size: 20px;
    padding: 20px 20px;
}
.container{
    margin: 20px 0px;
}
a{
    line-height: 40px;
}
span{
    font-size: 16px;
}