@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
header{
    margin-bottom: 70px;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
.under_header_items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item{
    font-size: 24px;
    color: #646F75;
}
.item-title{
    color: #14931F;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 30px;
}
.item-text{
    text-align: center;
    padding-bottom: 50px;
    line-height: 35px;
}
.item-btn, .btn{
    background-color: #14931F;
    text-align: center;
    height: 60px;
    width: 180px;
    border-radius: 4rem;
    color: white;
}
.under_header{
    margin-bottom: 150px;
}
.service-title{
    color: #14931F;
    font-size: 48px;
    text-align: center;
    margin-bottom: 150px;
}
.service-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.service-list-item{
    flex: 0 0 30.333%;
    height: 150px;
    background-color: #DFDBF5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;
    font-size: 24px;
    color: #646F75;
    margin-bottom: 50px;
    line-height: 30px;
    text-align: center;
}
.service{
    margin-bottom: 100px;
}
.prices{
    background-color: #DFDBF5;
    padding-bottom: 200px;
}
.prices-title{
    color: #14931F;
    font-size: 48px;
    text-align: center;
    margin-bottom: 150px;
    padding-top: 200px;
    padding-bottom: 20px;
}
.prices-column:nth-child(2) .column-title{
    color:white;
}

.prices-columns-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.prices-column{
    flex: 0 0 30.333%;
    background-color: white;
    border-radius: 4rem;

}
.prices-column:nth-child(2){
    background-color: rgb(20,147,30);
}
.prices-column-items{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.column-title{
    color: #14931F;
    font-size: 32px;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 35px;
    line-height: 40px;
    
}
.column-ul{
    /* flex-basis: 50%; */
    padding-bottom: 50px;
    padding-left: 60px;
    flex: 1 1 auto;
    
}
.column-ul_{
    flex: 1 1 auto;
}
.column-bot{
    flex: 0 0 auto;
}

.column-ul li{
    font-size: 18px;
    color: #646F75;
    line-height: 45px;
    position: relative; 
    padding-left: 5px;
}
.column-ul_ li{
    color: white;
}
.column-ul li::before{
    content: '';
    display: inline-block;
    width: 8px;
    height: 12px;
    border: solid white;
    border-width: 0 4px 3px 0;
    transform: rotate( 45deg);
    position: absolute;
    top: 14px;
    left: -15px;
    z-index: 1;
}
.column-ul_ li::before{
    content: '';
    display: inline-block;
    width: 8px;
    height: 12px;
    border: solid rgb(20,147,30);
    border-width: 0 4px 3px 0;
    transform: rotate( 45deg);
    position: absolute;
    top: 14px;
    left: -15px;
    z-index: 1;
}
.column-ul span::before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #646F75;
    position: absolute;
    top: 12px;
    left: -20px;
}
.column-ul_ span::before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 12px;
    left: -20px;
}
.column-bot{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.bot-btn{
    background-color: white;
    color: #646F75;
    border: 1px solid #646F75;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 60px;
}
.bot-price{
    font-size: 50px;
    color: #646F75;
    position: relative;
}
.prices-column:nth-child(2) .bot-price
{
    color: white;
}
.price-span{
    font-size: 35px;
    position: absolute;
    bottom: 40%;
    left: 110%;
}
.bot-btn:hover{
    background-color: #14931F;
    color:white;
}
.prices-column:nth-child(2) .bot-btn:hover{
    background-color: white;
    color: #14931F;
}
.footer{
    height: 150px;
    background-color: #14931F;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    font-size: 18px;
}