.header{
    height: 100px;
    background-color: #dddddd;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
}
.sections {
    padding: 20px 0px;
    border-bottom: 1px solid #e3e3e3;
}
.title{
    text-decoration: underline;
    font-size: 18px;
    padding-bottom: 20px;
    font-weight: bold;
}
.text{
    background-color: #90ee90;
    font-size: 21px;
    padding-top: 9px;
    height: 30px;
    margin-bottom: 20px;
}
.main-section-section1-text{
    font-style: italic;
}
.btn{
    background-color: #cccccc;
    font-size: 18px;
    width: 100px;
    height: 50px;
}
.main-section-section2-title{
    word-spacing: 50px;
}
.main-section-section2-text{
    background-color: #64f2f5;
    font-weight: bold;
}
.main-section-section3-title{
    letter-spacing: 15px;
}
.main-section-section3-text{
    background-color: #f9c1c7;
    padding-left: 5%;
}
.main-section-section3-btn{
    text-align: right;
}