.container{
    width: 60%;
    margin: 0 auto;
    padding-top: 30px;
}
.menu-items{
    background-color: #d3d3d3;
    border: 1px solid black;
}
.item{
    padding: 15px 0px 15px 15px;
    font-size: 18px;
    border-bottom: 1px solid black;
}
.item:last-child{
    border-bottom: none;
}
.item a{
    color: black;
    text-decoration: none;
}
