body{
    overflow: hidden;
    height: 100vh;
}

.container{
    width: 80%;
    display: flex;
    margin: 0 auto;
    border: 1px solid black;
    padding: 100px 50px;
    justify-content: space-around;
}
.content{
    flex-basis: 45%;
    height: 550px;
    border: 1px solid grey;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img{
    flex-basis: 70%;
}
.subtitle{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 70px;
    
}
.img1 {
    background: url(/img/HTML5.png) no-repeat;
    background-size: 30%;
    background-position: 50% 50%;
}
.img2 {
    background: url(/img/CSS3.png) no-repeat;
    background-size: 30%;
    background-position: 50% 50%;
 
}