
$aside1: rgb(100,100,100);
$aside2: rgb(95,71,127);        
.aside{
    flex-basis: 20%;
    .aside-wrap{
        @include fullSize;
        @include shadow;
        background-color: mix($aside1,$aside2, 20%);
        .aside-text{
           @include blockNames(center);
        }
    }
}