.container{
    width: 70%;
}
.item{
    padding: 25px 0px 25px 25px;
    color: white;
}
.f{
    background-color: #90ee90;
}
.s{
    background-color: #0000fe;
}
.t{
    background-color: #fed700;
}
.last{
    background-color: #fe0000;
}