.container{
    width: 70%;
    margin: 0 auto;

}
.contacts-el{
    text-align: center;
}
p{
    font-size: 30px;
    position: relative;
    padding-right: 40px;
    display: inline-block;
}
p::after{
    content: '';
    display: inline-block;
    position: absolute;
    height: 70px;
    border-right: 3px solid #d4d4d4;
    bottom: -16px;
    padding-left: 10px;
}
p:last-child::after{
    display: none;
}