.b{
    border: 1px solid red;
}

.footer-el{
  
   
}
.footer-wrap{
    background-color: rgba(238, 238, 238, 1);
    padding: 40px 0;
    border-top-left-radius: 44px;
    border-top-right-radius: 44px;
}
.footer-cop-p{
    color: rgba(41, 41, 41, 1);
    font-size: 16px;
}
.footer-link{
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    text-decoration: none;
 
    
}
.h100{
    height: 100%;
}
.footer-location{
   padding-top: 10px;
   font-size: 16px;
   color: rgba(41, 41, 41, 1);
   position: relative;

}
.footer-location span{
    background: url('../assets/img/loc.png') no-repeat;
    width: 15px;
    height: 22px;
    display: inline-block;
    background-size: contain;
}
/* .footer-location::after{
    content: url('../assets/img/loc.png');
 
    position: relative;
  
    
} */
.nav-btn::before{
    content: url('../assets/img/tel-icon.png');
    top: 2px;
    right: 10px;
    position: relative;
}