.square{
    flex-basis: 33.3333%;
    height: 70px;
    font-size: 30px;
    background-color: white;
}
.container{
    width: 250px;

    display: flex;
    flex-wrap: wrap;
}
.control{
    display: flex;
    justify-content: space-around;
    align-items: first baseline;
    flex-direction: row;
 
}
.control-resetBtn{
    width: 80px;
    height: 30px;
    font-size: 20px;

}
.control-resetBtn{
    width: auto;
}
#playground{
    padding-top: 50px;
    display: flex;
    justify-content: left;
    padding-left: 50px;
}
.board-box{
    width: 50%;
    margin: 0 auto;
    display: flex;

    align-items: center;
}