* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :avtive {
  outline: none;
}

a:focus, a:avtive {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.maincontent .column1 a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  display: inline-block;
  color: black;
  padding-right: 20px;
}

.maincontent .column1 button, .maincontent .nav-bar .log button {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: black;
  color: white;
  font-size: 20px;
  border-radius: 30px;
}

.maincontent .column1 .pic4, .maincontent .column1 .pic3, .maincontent .column1 .pic2, .maincontent .column1 .pic1 {
  width: 80px;
  height: 80px;
  margin-top: 70px;
  border: 3px solid white;
  border-radius: 80px;
  padding-right: 50px;
}

.maincontent {
  position: relative;
  top: 8%;
  left: 5%;
  height: 84%;
  width: 90%;
  background-color: white;
  border-radius: 40px;
}
.maincontent .nav-bar {
  position: relative;
  height: 100px;
  top: 30px;
  padding-bottom: 50px;
}
.maincontent .nav-bar::before {
  content: "CalmZen";
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: inline-block;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 70px;
}
.maincontent .nav-bar .links {
  padding-left: 270px;
  height: 20px;
  margin-top: -20px;
}
.maincontent .nav-bar .links a {
  font-size: 30px;
  display: inline-block;
  color: rgb(170, 170, 171);
  padding-right: 60px;
}
.maincontent .nav-bar .links a:first-child {
  color: black;
  font-weight: bold;
}
.maincontent .nav-bar .links a:hover {
  text-decoration: underline;
}
.maincontent .nav-bar .log {
  padding-left: 1420px;
  height: 35px;
  margin-top: -35px;
}
.maincontent .nav-bar .log a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  display: inline-block;
  color: black;
  padding-right: 20px;
}
.maincontent .nav-bar .log a:hover {
  text-decoration: underline;
}
.maincontent .nav-bar .log button {
  height: 50px;
  width: 100px;
}
.maincontent .nav-bar .log button:hover {
  color: purple;
}
.maincontent .content {
  position: relative;
  position: relative;
  top: 40px;
  height: 680px;
}
.maincontent .column1 {
  position: absolute;
  width: 60%;
  height: 100%;
}
.maincontent .column1 h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 100px;
  color: black;
  line-height: 100px;
  text-align: left;
  padding-left: 100px;
}
.maincontent .column1 p {
  padding-left: 100px;
  font-size: 25px;
  line-height: normal;
  padding-top: 40px;
  color: rgb(138, 137, 144);
  display: inline-block;
  width: 80%;
  padding-bottom: 80px;
}
.maincontent .column1 a {
  position: relative;
  padding-left: 50px;
  z-index: 1;
}
.maincontent .column1 a:hover {
  text-decoration: underline;
}
.maincontent .column1 button {
  height: 70px;
  width: 160px;
  margin-right: 50px;
  margin-left: 100px;
}
.maincontent .column1 button:hover {
  color: purple;
}
.maincontent .column1 .pic1 {
  background: url(../../img/pic1.png) center/cover no-repeat;
  padding-right: 50px;
  margin-left: 100px;
}
.maincontent .column1 .pic2 {
  background: url(../../img/pic2.png) center/cover no-repeat;
  padding-right: 50px;
  margin-top: -80px;
  margin-left: 140px;
}
.maincontent .column1 .pic3 {
  background: url(../../img/pic3.png) center/cover no-repeat;
  padding-right: 50px;
  margin-top: -80px;
  margin-left: 180px;
}
.maincontent .column1 .pic4 {
  background: url(../../img/pic4.png) center/cover no-repeat;
  padding-right: 50px;
  margin-top: -80px;
  margin-left: 220px;
}
.maincontent .column1 .firstp {
  display: block;
  margin-left: 230px;
  margin-top: -110px;
  font-size: 20px;
  color: black;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.maincontent .column1 .sectp {
  display: block;
  margin-left: 230px;
  margin-top: -110px;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.maincontent .column1 .circle {
  border: 1px solid rgb(189, 209, 255);
  height: 50px;
  width: 50px;
  position: absolute;
  border-radius: 50px;
  background-color: rgb(189, 209, 255);
  left: 477px;
  top: 413px;
  z-index: 0;
}
.maincontent .column2 {
  position: absolute;
  left: 60%;
  width: 40%;
  height: 100%;
  background: url(../../img/yoga2.png) center/contain no-repeat;
}

.zag {
  position: absolute;
  margin-top: 300px;
  right: 750px;
}

body {
  position: relative;
  overflow: hidden;
  background: url(../../img/bg.jpg) 0 0/cover no-repeat;
}