@import "nullstyle.scss";

%links{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    display: inline-block;
    color: black; 
    padding-right: 20px;  
}
%buttons{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;           
    background-color: black;
    color: white;  
    font-size: 20px;
    border-radius: 30px;
}
%icons{
    width: 80px;
    height: 80px;
    margin-top:70px;
    border: 3px solid white;
    border-radius: 80px;
    padding-right: 50px;    
}

.maincontent
{
    position: relative;
    top: 8%;
    left: 5%;
    height: 84%;
    width: 90%;
    background-color: white;
    border-radius: 40px;
    .nav-bar{
        position: relative;
        height: 100px;
        top: 30px;
        padding-bottom: 50px;
        &::before{
            content: 'CalmZen';
            font-size: 40px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            display: inline-block;
            padding-top: 40px;
            padding-left: 40px;
            padding-right: 70px;          
        }
        .links{
            padding-left: 270px;
            height: 20px;
            margin-top: -20px;        
            a{
                font-size: 30px;
                display: inline-block;
                color: rgb(170,170,171);  
                padding-right: 60px;         
            } 
            a:first-child{
                color: black;
                font-weight: bold;
            }
            a:hover{
                text-decoration: underline;
            }
        }
        .log{
            padding-left: 1420px;
            height: 35px;
            margin-top: -35px;       
            a{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 30px;
                display: inline-block;
                color: black; 
                padding-right: 20px;               
            } 
            a:hover{
                text-decoration: underline;
            }
            button{
                @extend %buttons;
                height: 50px;
                width: 100px;
            }      
            button:hover{
                color: purple;
            }

        }      
    }
    .content{
        position: relative;
        position: relative;
        top:40px;
        height: 680px;
    }
    .column1{
        position: absolute;
        width: 60%;
        height: 100%;
        h2{
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 100px;
            color: black; 
            line-height: 100px;
            text-align:left;
            padding-left: 100px;          
        }
        p{
            padding-left: 100px;
            font-size: 25px;
            line-height: normal;
            padding-top: 40px;
            color: rgb(138,137,144); 
            display: inline-block;
            width: 80%;
            padding-bottom: 80px;
        }
        a{
            position: relative;
            @extend %links;
            padding-left: 50px;
            z-index: 1;                 
        }
        a:hover{
            text-decoration: underline;
        }
       
        button{
            @extend %buttons;
            height: 70px;
            width: 160px;
            margin-right: 50px;
            margin-left: 100px;           
        }
        button:hover{
            color: purple;
        }
        .pic1{
            @extend %icons;
            background: url(../../img/pic1.png) center/cover no-repeat;     
            padding-right: 50px;   
            margin-left: 100px;
            
        }
        .pic2{
            @extend %icons;
            background: url(../../img/pic2.png) center/cover no-repeat;    
            padding-right: 50px;    
            margin-top: -80px;
            margin-left: 140px;  
        }
        .pic3{
            @extend %icons;
            background: url(../../img/pic3.png) center/cover no-repeat;    
            padding-right: 50px;    
            margin-top: -80px;
            margin-left: 180px;  
        }
        .pic4{
            @extend %icons;
            background: url(../../img/pic4.png) center/cover no-repeat;    
            padding-right: 50px;    
            margin-top: -80px;
            margin-left: 220px;  
        }
        .firstp{
            display: block;
            margin-left: 230px;
            margin-top: -110px;
            font-size: 20px;
            color: black;
            font-weight: bold;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .sectp{
            display: block;
            margin-left: 230px;
            margin-top: -110px;
            font-size: 20px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;        
        }
        .circle
        {
            border: 1px solid rgb(189, 209, 255);
            height: 50px;
            width: 50px;
            position: absolute;
            border-radius: 50px;
            background-color: rgb(189, 209, 255);
            left: 477px;
            top:413px;
            z-index: 0;
        }
    }
    .column2{
        position: absolute;
        left:60%;
        width: 40%;
        height: 100%;
        background: url(../../img/yoga2.png) center/contain no-repeat;
    }
    
}
.zag{
    position: absolute;
    margin-top: 300px;
    right: 750px;
}
body{
    position: relative;
    overflow: hidden;
    background: url(../../img/bg.jpg) 0 0/cover no-repeat;

}
