.menu{
    background-color: yellow;
    margin-top: 50px;
    
}
.container{
    width: 40%;
    padding: 50px;
    
}
.el{
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-right: 50px;
    border: 1px solid black;
}
.menu-row-fb{
    background-color: blue;
} 
.menu-row-yb{
    background-color: red;
}
.menu-row-in{
    background-color: #fdbecd;
}
.menu-row-tw{
    background-color: #01ffff;
}
img{
    display: block;
    margin: 0 auto;
    padding-top: 10%;
    height: 90%;
    
}