@import "nullstyle.scss";

body{
   font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .content{
        flex: 1 1 auto;
        .greatings{
            background-color: #445162;
            .container{
                max-width: 1480px;
                margin: 0px auto;
            }
        
        }
    }
   
}

.greatings__row{
    display: flex;
    justify-content: space-between;
}
.greatings__body{

}
.greatings__img{

}
.greatings__tittle{
    padding: 30px 0px;
    font-size: 24px;
    color: #ffff;
}
.greatings__ul{
    font-size: 18px;
    color: #ffff;
    line-height: 20px;
   & li{
        background: url(/img/icons/check.png) left no-repeat;
        padding-bottom: 3px;
        padding-left: 30px;
   } 
}
.footer{
    background-color: #f5f5f5;
}
.footer__row
{
   
   display: flex;
   height: 50px;
   align-items: center;
   justify-content: center;
   font-size: 22px;
   font-family: 'Times New Roman', Times, serif;
   
}
.footer__text{
   
   
    
}

.maincontent{
    padding: 100px 0px;
}
.container{
    max-width: 1480px;
    margin: 0px auto;
}
.maincontent__flex{
  display: flex;
}
.maincontent__image img{
   max-width: 100%;
   padding-right: 50px;
   padding-top: 40px;
   
}
.maincontent__image{

    flex: 0 0 600px;
}
.maincontent__body{
    flex: 1 1 auto;
}
.maincontent__text{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 25px;
    & p {
        padding-bottom: 10px;
        &:last-child{
            padding-bottom: 0px;
        }
    }
    
}
.title{
   
    font-size: 42px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 20px;
    text-align: center;
    padding-right: 50px;
    padding-bottom: 50px;
    
    
}

.cards{
    padding: 50px 0px;
    background-color: #F4F4F4;
    margin-bottom: 50px;
}
.container{
    
   
}
.cards__title{}
.cards__width{
    width: 80%;
    margin: 0 auto;
    
 
}
.cards__flex{
    display:flex;
    margin: 0 -22.5px;
}
.cards__col{
    border: 1px solid #8F8F8F;
    background-color: #445162;
    flex: 0 1 33.333%;
    margin: 0px 22.5px;
    border-radius: 8px;
    display: flex;
 
}
.cards__items{
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  
   
}
.cards__subtitle{
    color:#F4F4F4;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
    text-align: center;
}
.cards__label{
    background-color: white;
    color:#445162;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
}
.cards__text{
    color:#F4F4F4;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 20px;
    padding: 20px 10px;
    flex: 1 1 auto;
   
    
    & p{
        padding-top: 20px;
    }
   
}
.cards__btn{
    display: block;
    height: 40px;
    max-width: 0px 20px;
    background-color: white ;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    border-radius: 5px;
    &:hover{
        color: #80B7B3;
        text-decoration:underline;
    }
}

.domino{
    padding-bottom: 50px;
}
.container{
    
}
.domino__title{
    padding: 20px 0px;
}
.domino__flex{
   display: flex; 
   flex-wrap: wrap; 
   margin: -20px -20px;
}
.domino__piece{
   flex: 0 1 50%;
   padding: 20px 20px;
  
}
.domino__items{
    display: flex;
    & p{
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        line-height: 20px;
        padding-bottom: 10px;
        color: red;
    }
}
.domino__flextext{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.domino__image{
    padding-right: 25px;
    flex: 0 0 200px;
    
    & img{
        width: 100%;
        border: 1px solid #8F8F8F;
        box-shadow: 8px 8px #445162;
        height: 200px;
    }
}
.domino__subtitle{
    color: #545055;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 30px;
    padding-bottom: 5px;
}
.domino__text{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 20px;
   
}