.logo{
    text-align: center;
    padding-top: 100px;
}
.itvdn{
    background-color: #d3d3d3;
    font-size: 100px;
    display: inline-block;
    line-height: 0px;
}
h1{font-weight: 100;}
span{
    color: #fca600;
}

